@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Regular.woff2") format("woff2"), url("../fonts/HelveticaNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "HelveticaNeue", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.875rem 2.25rem;
  color: #000;
  background-color: #fff;
}

.swiper {
  overflow: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.title {
  font-size: 3.125rem;
  text-transform: uppercase;
  line-height: normal;
}

.title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.uah::after {
  content: " UAH";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.header.scroll {
  background: rgba(255, 255, 255, 0.8);
}

.header-mob-white .header.scroll {
  background: rgba(0, 0, 0, 0.8);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13.125rem;
          flex: 0 0 13.125rem;
  width: 13.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  margin-left: -6.5625rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__img_mob {
  display: none;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__search {
  font-size: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
}

.menu__search svg {
  width: 100%;
  height: auto;
}

.menu__search svg path {
  fill: #000;
}

.header-mob-white .menu__search svg path {
  fill: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 1.875rem;
}

.menu__link {
  font-size: 1.125rem;
  line-height: normal;
}

.actions-header {
  margin-right: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header__item {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions-header__item:not(:last-child) {
  margin-right: 1.875rem;
}

.actions-header__item_search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.1875rem;
          flex: 0 0 2.1875rem;
}

.actions-header__item_favorite {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.125rem;
          flex: 0 0 2.125rem;
}

.actions-header__item_cart {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.875rem;
          flex: 0 0 1.875rem;
}

.actions-header__item svg {
  width: 100%;
  height: auto;
}

.actions-header__item svg path {
  fill: #000;
}

.actions-header__quantity {
  position: absolute;
  top: -0.625rem;
  padding: 0rem 0.1875rem;
  right: -1.25rem;
  font-size: 0.75rem;
  color: #fff;
  line-height: normal;
  min-height: 1.25rem;
  min-width: 1.25rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #000;
}

.langs-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.langs-header__item:not(:first-child) {
  margin-left: 0.75rem;
}

.langs-header__item:not(:last-child) {
  position: relative;
  padding-right: 0.75rem;
}

.langs-header__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -0.03125rem;
  top: 50%;
  background: currentColor;
  width: 0.0625rem;
  height: 1.5625rem;
  margin-top: -0.78125rem;
}

.langs-header__link {
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: normal;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 1.0625rem 0rem 1.1875rem;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18.5625rem;
          flex: 0 0 18.5625rem;
  width: 18.5625rem;
  margin-right: 9.625rem;
}

.footer__logo img {
  width: 100%;
  height: auto;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

.menu-footer__item:not(:last-child) {
  margin-right: 1.875rem;
}

.menu-footer__link {
  line-height: normal;
  font-size: 1.125rem;
}

.socials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-footer__item:not(:last-child) {
  margin-right: 1.6875rem;
}

.socials-footer__link {
  display: block;
  font-size: 0;
}

.hero {
  min-height: 47.1875rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.125rem 0rem;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.hero__container {
  position: relative;
  z-index: 2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.528;
  letter-spacing: 0.06rem;
}

.hero__title:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.hero__subtitle {
  max-width: 22.5rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.528;
  font-size: 1.5rem;
}

.hero__subtitle:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cats {
  padding: 6.25rem 0rem;
}

.cats__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 3.75rem;
}

.cats__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cats__link {
  position: relative;
}

.cats__link img {
  width: 100%;
  height: auto;
}

.cats__label {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.125rem;
  line-height: normal;
}

.sale {
  padding-bottom: 6.25rem;
}

.sale__slider {
  overflow: visible;
}

.product__main {
  background: #f8f8f8;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5.5625rem 0.625rem 3.5rem;
}

.product__main img {
  width: 60.6%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__main:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.product__list {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__item_favorite {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.75rem;
          flex: 0 0 1.75rem;
}

.product__item_card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
}

.product__item svg {
  width: 100%;
  height: auto;
}

.product__item:not(:last-child) {
  margin-right: 0.9375rem;
}

.product__btn svg .hover {
  fill: transparent;
  -webkit-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.product__btn_active svg .hover {
  fill: #000;
}

.product__label {
  font-weight: 500;
}

.product__label:not(:last-child) {
  margin-bottom: 0.625rem;
}

.product__price {
  font-weight: 500;
}

.descr-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descr-product:not(:last-child) {
  margin-bottom: 0.625rem;
}

.descr-product__item {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
}

.descr-product__item:not(:first-child) {
  margin-left: 0.5rem;
}

.descr-product__item:not(:last-child) {
  position: relative;
  padding-right: 0.5rem;
}

.descr-product__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -0.03125rem;
  margin-top: -0.375rem;
  width: 0.0625rem;
  height: 0.75rem;
  background: currentColor;
}

.inst {
  background: #101010;
  color: #fff;
  padding: 6.9375rem 0rem 7rem;
}

.inst__title {
  text-align: center;
}

.inst__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.inst__subtitle {
  font-size: 1.125rem;
  text-align: center;
  line-height: normal;
}

.inst__subtitle:not(:last-child) {
  margin-bottom: 4.4375rem;
}

.inst__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.625rem;
}

.inst__column img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-images__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.bottom-images__column {
  position: relative;
  min-height: 25.4375rem;
}

.bottom-images__column::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.bottom-images__column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-main {
  margin: 2rem 0rem 1.25rem;
}

.about-main h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: normal;
}

.about-main h2:not(:last-child) {
  margin-bottom: 2.5rem;
}

.about-main p {
  font-size: 1.5rem;
  line-height: 1.198;
}

.about-main p:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about-main__top-image {
  position: relative;
}

.about-main__top-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.about-main__top-image img {
  width: 100%;
  min-height: 8.4375rem;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-main__top-image:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.about-main__bottom {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -ms-grid-columns: 40.7% 1fr;
  grid-template-columns: 40.7% 1fr;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.about-main__bottom img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-about {
  margin-top: 5.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-about:not(:last-child) {
  margin-bottom: 6rem;
}

.middle-about__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40.7%;
          flex: 0 0 40.7%;
  margin-right: 7.625rem;
  position: relative;
}

.middle-about__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.middle-about__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-descr {
  position: relative;
  min-height: 46.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0rem;
}

.about-descr__container {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  z-index: 2;
  color: #fff;
}

.about-descr__item:not(:last-child) {
  margin-bottom: 6.625rem;
}

.about-descr__icon {
  width: 1.875rem;
  height: 1.875rem;
}

.about-descr__icon img {
  width: 100%;
  height: auto;
}

.about-descr__icon:not(:last-child) {
  margin-bottom: 0.875rem;
}

.about-descr__label {
  font-size: 1.5rem;
  line-height: normal;
}

.about-descr__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 61.99875em) {
  .header {
    min-height: 5.3125rem;
  }

  .menu__search {
    display: none;
  }

  .menu-footer {
    margin-right: 1.25rem;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .about-descr__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 77.5em) {
  .footer__logo {
    margin-right: 6.25rem;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 2.75rem;
  }

  .header {
    position: fixed;
    padding: 1.875rem 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 11.25rem;
            flex: 0 0 11.25rem;
    width: 11.25rem;
    margin-left: -5.625rem;
  }

  .header-mob-white .header__img_pc {
    display: none;
  }

  .header-mob-white .header__img_mob {
    display: block;
  }

  .menu__icon {
    margin-right: 1.9375rem;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3.125rem;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.25rem;
  }

  .menu__link {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .actions-header {
    margin-right: 1.25rem;
  }

  .actions-header__item:not(:last-child) {
    margin-right: 1.25rem;
  }

  .actions-header__item_search {
    display: none;
  }

  .actions-header__item_favorite {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.75rem;
            flex: 0 0 1.75rem;
  }

  .actions-header__item_cart {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.5625rem;
            flex: 0 0 1.5625rem;
  }

  .header-mob-white .actions-header__item svg path {
    fill: #fff;
  }

  .header-mob-white .actions-header__quantity {
    color: #000;
    background-color: #fff;
  }

  .langs-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .langs-header__item {
    color: #fff;
  }

  .langs-header__link {
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.5rem;
    height: 0.5625rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .header-mob-white .icon-menu::before,
  .header-mob-white .icon-menu::after {
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer {
    padding: 1.5625rem 0rem;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    margin-right: 0;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-bottom: 1.9375rem;
  }

  .menu-footer {
    margin-bottom: 1.9375rem;
  }

  .hero__title {
    font-size: 2.75rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .hero__subtitle {
    font-size: 1.375rem;
  }

  .hero__subtitle:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .cats {
    padding: 5rem 0rem;
  }

  .cats__columns {
    margin: 0rem -1.25rem;
    gap: 0rem;
  }

  .cats__label {
    font-size: 2.75rem;
  }

  .sale {
    padding-bottom: 5rem;
  }

  .sale__slider {
    margin: 0rem -1.25rem;
  }

  .product__main {
    padding: 4.375rem 0.625rem 3.125rem;
  }

  .product__main img {
    width: 73%;
  }

  .product__list {
    right: 0.9375rem;
    top: 0.9375rem;
  }

  .product__item_favorite {
    display: none;
  }

  .product__item_card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.25rem;
            flex: 0 0 1.25rem;
  }

  .inst {
    padding: 5.625rem 0rem;
  }

  .inst_contacts {
    margin-top: 6.25rem;
  }

  .inst__subtitle:not(:last-child) {
    margin-bottom: 3.5625rem;
  }

  .inst__columns {
    margin: 0rem -1.25rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.3125rem;
  }

  .about-main {
    margin: 6.25rem 0rem 1.875rem;
  }

  .about-main h2:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .about-main p {
    font-size: 1.375rem;
  }

  .middle-about {
    margin-top: 3.125rem;
  }

  .middle-about:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .middle-about__image {
    margin-right: 4.375rem;
  }

  .about-descr {
    min-height: 44.375rem;
  }

  .about-descr__item:not(:last-child) {
    margin-bottom: 5.625rem;
  }

  .about-descr__label {
    font-size: 1.375rem;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 2.5rem;
  }

  .title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .header {
    padding: 1.5625rem 0;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.375rem;
            flex: 0 0 9.375rem;
    width: 9.375rem;
    margin-left: -4.6875rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__subtitle {
    font-size: 1.25rem;
  }

  .cats {
    padding: 3.125rem 0rem;
  }

  .cats__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cats__label {
    font-size: 2.5rem;
  }

  .sale {
    padding-bottom: 3.125rem;
  }

  .product__main {
    padding: 3.75rem 0.625rem 1.875rem;
  }

  .product__main:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .product__label {
    font-size: 0.875rem;
  }

  .product__price {
    font-size: 0.875rem;
  }

  .inst {
    padding: 4.375rem 0rem;
  }

  .inst_contacts {
    margin-top: 5.3125rem;
  }

  .inst__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .inst__subtitle {
    font-size: 1rem;
  }

  .inst__subtitle:not(:last-child) {
    margin-bottom: 2.375rem;
  }

  .about-main {
    margin: 5.3125rem 0rem 2.5rem;
  }

  .about-main p {
    font-size: 1.0625rem;
  }

  .about-main p:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .about-main__top-image:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .about-main__bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 1.875rem;
  }

  .middle-about {
    margin-top: 1.875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .middle-about:not(:last-child) {
    margin-bottom: 3.125rem;
  }

  .middle-about__image {
    margin-right: 0;
    margin-bottom: 1.875rem;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .middle-about__content {
    text-align: center;
  }

  .about-descr {
    min-height: 42.6875rem;
  }

  .about-descr__item:not(:last-child) {
    margin-bottom: 4.6875rem;
  }

  .about-descr__label {
    font-size: 1.25rem;
  }
}

@media (max-width: 29.99875em) {
  .title {
    font-size: 2.25rem;
  }

  .header {
    padding: 1.25rem 0;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.3125rem;
            flex: 0 0 7.3125rem;
    width: 7.3125rem;
    margin-left: -3.65625rem;
  }

  .footer {
    padding: 2rem 0rem 2.625rem;
  }

  .hero__title {
    font-size: 2.25rem;
  }

  .hero__subtitle {
    font-size: 1.125rem;
  }

  .hero__btn_thank {
    width: 100%;
  }

  .cats {
    padding: 1.6875rem 0rem 3.125rem;
  }

  .cats__label {
    font-size: 2.25rem;
  }

  .product__main {
    padding: 3.1875rem 0.625rem 1.375rem;
  }

  .product__label {
    font-size: 0.75rem;
  }

  .product__price {
    font-size: 0.75rem;
  }

  .inst {
    padding: 3.125rem 0rem 2.1875rem;
  }

  .inst_contacts {
    margin-top: 4.6875rem;
  }

  .about-main {
    margin: 4.6875rem 0rem 3.1875rem;
  }

  .about-main p {
    font-size: 0.875rem;
  }

  .about-main p:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .middle-about {
    margin-top: 0;
  }

  .middle-about:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .about-descr__item:not(:last-child) {
    margin-bottom: 3.75rem;
  }

  .about-descr__label {
    font-size: 1.125rem;
  }
}

@media (max-width: 24.37375em) {
  [class*=__container] {
    padding: 0rem 0.9375rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.875rem;
            flex: 0 0 6.875rem;
    width: 6.875rem;
    margin-left: -3.4375rem;
  }

  .menu__icon {
    margin-right: 1.25rem;
  }

  .actions-header {
    margin-right: 0.625rem;
  }

  .actions-header__quantity {
    right: -0.625rem;
  }

  .footer__logo {
    width: 100%;
  }

  .menu-footer__item:not(:last-child) {
    margin-right: 1.25rem;
  }

  .cats__columns {
    margin: 0rem -0.9375rem;
  }

  .sale__slider {
    margin: 0rem -0.9375rem;
  }

  .inst__columns {
    margin: 0rem -0.9375rem;
  }
}

@media (any-hover: hover) {
  .product__btn:hover svg .hover {
    fill: #000;
  }
}